<!DOCTYPE html>
<html>
  <%- include('./includes/head'); %>
  <body>
  <main>
  <section class="section pad-0">
    <div id="bg-sunburst" class="sunburst outer">
      <div class="inner">
        <div class="gradient-wrap">
          <div class="gradient"></div>
        </div>
        <div class="gradient-wrap">
          <div class="gradient"></div>
        </div>
      </div>
    </div>
    <div id="ad-steps" class="container">
        <%- include('./includes/steps/thank-you', { isCurrent: true, order: 0 }); %>
        <%- include('./includes/steps/sign-up', { order: 1 }); %>
        <%- include('./includes/steps/amazing', { order: 2 }); %>
    </div>
  </section>
  </main>
  <%- include('./includes/footer-scripts', { customScripts: ['/js/exp/exp1.js', '/js/steps/thank-you.js', '/js/steps/sign-up.js', '/js/steps/amazing.js'] }); %>
  </body>
</html>
