<!DOCTYPE html>
<html>
  <%- include('./includes/head'); %>
  <body>
  <main>
  <section class="section pad-0">
    <div id="bg-sunburst" class="sunburst outer">
      <div class="inner">
        <div class="gradient-wrap">
          <div class="gradient"></div>
        </div>
        <div class="gradient-wrap">
          <div class="gradient"></div>
        </div>
      </div>
    </div>
    <div class="container">
        <%- include('./includes/steps/thank-you', { isCurrent: true, order: 0 }); %>
        <%- include('./includes/steps/ar-game', { order: 1 }); %>
        <%- include('./includes/steps/play-ar', { order: 2 }); %>
        <%- include('./includes/steps/well-done', { order: 3 }); %>
        <%- include('./includes/steps/sign-up', { order: 4 }); %>
        <%- include('./includes/steps/amazing', { order: 5 }); %>
    </div>
    </section>
  </main>
  <%- include('./includes/footer-scripts'); %>
  </body>
</html>
