<!DOCTYPE html>
<html>
  <%- include('./includes/head'); %>
  <body>
  <main>
  <section class="section pad-0">
    <%- include('./includes/sunburst'); %>
    <div id="ad-steps" class="container">
        <%- include('./includes/steps/thank-you', { isCurrent: true, order: 0 }); %>
        <%- include('./includes/steps/get-fave-coin', { order: 1 }); %>
        <%- include('./includes/steps/have-fave-coin', { order: 2 }); %>
        <%- include('./includes/steps/amazing', { order: 3 }); %>
    </div>
    </section>
  </main>
  <%- include('./includes/footer-scripts',
      {
          customScripts: [
          '/js/exp/exp3.js',
          '/js/steps/thank-you.js',
          '/js/steps/get-fave-coin.js',
          '/js/steps/have-fave-coin.js',
          '/js/steps/amazing.js'
          ]
      }
  ); %>
  </body>
</html>
