<!DOCTYPE html>
<html>
  <%- include('./includes/head'); %>
  <body>
  <main>
  <section class="section pad-0">
    <%- include('./includes/sunburst'); %>
    <div id="ad-steps" class="container">
      <%- include('./includes/steps/thank-you', { isCurrent: true, order: 0 }); %>
      <%- include('./includes/steps/get-fave-coin', { order: 1 }); %>
      <%- include('./includes/steps/have-fave-coin', { order: 2 }); %>
      <%- include('./includes/steps/share-with-friends', { order: 3 }); %>
      <%- include('./includes/steps/social-media', { order: 4 }); %>
      <%- include('./includes/steps/amazing', { order: 5 }); %>
    </div>
    </section>
  </main>
  <%- include('./includes/footer-scripts',
    {
      customScripts: [
      '/js/exp/exp7.js',
      '/js/steps/thank-you.js',
      '/js/steps/get-fave-coin.js',
      '/js/steps/have-fave-coin.js',
      '/js/steps/share-with-friends.js',
      '/js/steps/social-media.js',
      '/js/steps/amazing.js'
      ]
    }
  ); %>
  </body>
</html>
